<h1>Listing merchandises</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Store</th>
      <th>User</th>
      <th>Price</th>
      <th>Facing</th>
      <th>Run</th>
      <th>Volume</th>
      <th>Volume rank</th>
      <th>Value</th>
      <th>Value rank</th>
      <th>Margin</th>
      <th>Margin rank</th>
      <th>Psi</th>
      <th>Psi rank</th>
      <th>Psi by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @merchandises.each do |merchandise| %>
      <tr>
        <td><%= merchandise.product_id %></td>
        <td><%= merchandise.store_id %></td>
        <td><%= merchandise.user_id %></td>
        <td><%= merchandise.price %></td>
        <td><%= merchandise.facing %></td>
        <td><%= merchandise.run %></td>
        <td><%= merchandise.volume %></td>
        <td><%= merchandise.volume_rank %></td>
        <td><%= merchandise.value %></td>
        <td><%= merchandise.value_rank %></td>
        <td><%= merchandise.margin %></td>
        <td><%= merchandise.margin_rank %></td>
        <td><%= merchandise.psi %></td>
        <td><%= merchandise.psi_rank %></td>
        <td><%= merchandise.psi_by %></td>
        <td><%= link_to 'Show', merchandise %></td>
        <td><%= link_to 'Edit', edit_merchandise_path(merchandise) %></td>
        <td><%= link_to 'Destroy', merchandise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchandise', new_merchandise_path %>
