<h1>Listing merchandises</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Store</th>
      <th>User</th>
      <th>Supplier</th>
      <th>Price</th>
      <th>New product</th>
      <th>On promotion</th>
      <th>Force on shelf</th>
      <th>Force off shelf</th>
      <th>Max facing</th>
      <th>Min facing</th>
      <th>Rcmd facing</th>
      <th>Volume</th>
      <th>Vulume rank</th>
      <th>Value</th>
      <th>Value rank</th>
      <th>Profit</th>
      <th>Profit rank</th>
      <th>Psi</th>
      <th>Psi rank</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @merchandises.each do |merchandise| %>
      <tr>
        <td><%= merchandise.product_id %></td>
        <td><%= merchandise.store_id %></td>
        <td><%= merchandise.user_id %></td>
        <td><%= merchandise.supplier_id %></td>
        <td><%= merchandise.price %></td>
        <td><%= merchandise.new_product %></td>
        <td><%= merchandise.on_promotion %></td>
        <td><%= merchandise.force_on_shelf %></td>
        <td><%= merchandise.force_off_shelf %></td>
        <td><%= merchandise.max_facing %></td>
        <td><%= merchandise.min_facing %></td>
        <td><%= merchandise.rcmd_facing %></td>
        <td><%= merchandise.volume %></td>
        <td><%= merchandise.vulume_rank %></td>
        <td><%= merchandise.value %></td>
        <td><%= merchandise.value_rank %></td>
        <td><%= merchandise.profit %></td>
        <td><%= merchandise.profit_rank %></td>
        <td><%= merchandise.psi %></td>
        <td><%= merchandise.psi_rank %></td>
        <td><%= link_to 'Show', merchandise %></td>
        <td><%= link_to 'Edit', edit_merchandise_path(merchandise) %></td>
        <td><%= link_to 'Destroy', merchandise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchandise', new_merchandise_path %>
