<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @merchandise.product_id %>
</p>

<p>
  <strong>Store:</strong>
  <%= @merchandise.store_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @merchandise.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @merchandise.price %>
</p>

<p>
  <strong>Facing:</strong>
  <%= @merchandise.facing %>
</p>

<p>
  <strong>Run:</strong>
  <%= @merchandise.run %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @merchandise.volume %>
</p>

<p>
  <strong>Volume rank:</strong>
  <%= @merchandise.volume_rank %>
</p>

<p>
  <strong>Value:</strong>
  <%= @merchandise.value %>
</p>

<p>
  <strong>Value rank:</strong>
  <%= @merchandise.value_rank %>
</p>

<p>
  <strong>Margin:</strong>
  <%= @merchandise.margin %>
</p>

<p>
  <strong>Margin rank:</strong>
  <%= @merchandise.margin_rank %>
</p>

<p>
  <strong>Psi:</strong>
  <%= @merchandise.psi %>
</p>

<p>
  <strong>Psi rank:</strong>
  <%= @merchandise.psi_rank %>
</p>

<p>
  <strong>Psi by:</strong>
  <%= @merchandise.psi_by %>
</p>

<%= link_to 'Edit', edit_merchandise_path(@merchandise) %> |
<%= link_to 'Back', merchandises_path %>
