<p id="notice"><%= notice %></p>

<p>
  <strong>Fixture:</strong>
  <%= @fixture_item.fixture_id %>
</p>

<p>
  <strong>Bay:</strong>
  <%= @fixture_item.bay_id %>
</p>

<p>
  <strong>Num bays:</strong>
  <%= @fixture_item.num_bays %>
</p>

<p>
  <strong>Row:</strong>
  <%= @fixture_item.row %>
</p>

<p>
  <strong>Continuous:</strong>
  <%= @fixture_item.continuous %>
</p>

<%= link_to 'Edit', edit_fixture_item_path(@fixture_item) %> |
<%= link_to 'Back', fixture_items_path %>
