<table id="fixtures-table" data-form="#fixtures-form" data-sinfoempty="请重新选择品类或重新搜索"
  class="dataTable grid-control no-wrap resizable" cellspacing=0> <thead>
    <tr>
      <th><%= t('activerecord.attributes.fixture.name') %></th>
      <th><%= t('activerecord.attributes.fixture.code') %></th>
      <th><%= t('activerecord.attributes.fixture.user') %></th>
      <th data-no-sort="1"><%= t('activerecord.attributes.fixture.flow_l2r') %></th>
      <th data-no-sort="1"></th>
    </tr>
  </thead>

  <tbody>
    <% fixtures.each do |fixture| %>
      <%= render 'item', fixture: fixture %>
    <% end %>
  </tbody>
</table>
