<h3>Upload Products Data</h3>
<p>Find me in app/views/upload/get.html.erb</p>

<p> Step 1: upload files (in xls,xlsx,csv)
<%= form_for @import, url: { action: 'save' }, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :store_id %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.file_field :upload_sheet %>
  </p>
  <p><%= f.submit "upload" %></p>
<% end %>

<p> Step 2: choose sheets if necessary</p>
   filename, datetime, user w/ preview
     [ ] sheet -> category
     [ ] sheet -> category
     [ ] sheet -> category

<p> Step 3: Set field mapping...</p>
  blah,blah

<p> Finish, to return to plans#index? </p>

