<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :region_id, collection: Region.sub_regions %>
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :area %>
    <%= f.input :depot_area %>
    <%= f.input :location %>
    <%= f.input :memo %>
  </div>

  <div class="actions">
    <%= f.button :submit, "创建门店" %>
  </div>
<% end %>
