<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%#= f.input :region_id %>
    <%= f.input :_do, as: :hidden, input_html: { value: "fixture" } %>
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :area %>
    <%= f.input :location %>
    <%= f.input :memo %>
    <div class="input textarea string">
      <label class="text">同类门店</label>
      <div class="input check_boxes bi_columns" style="display: inline-block">
        <% @store.follow_stores.each do |follow| %>
          <li><%= follow.name %></li>
        <% end %>
      </div>
    </div>

    <% categories_dict = @categories_all.to_hash(:id, :name, :parent_id) %>
    <div id="category_dict" class="hide" data-dict=<%=raw categories_dict.to_json %>></div>
    <table>
      <thead>
        <tr>
          <th>中类</th>
          <th>小类</th>
          <th>货架组</th>
          <th>货架组编号</th>
          <th>部分货架(距左侧/长度)</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% prev_mid_category = "" %>
        <%= f.simple_fields_for :store_fixtures do |builder| %>
          <%
            category = categories_dict[builder.object.category_id]
            builder.object.category_name = category[:name]
            parent_id = category[:parent_id]
            upper_category = categories_dict[parent_id][:name]
            hide_class = (prev_mid_category == upper_category) ? "hide" : ""
          %>
          <%= render "store_fields", f: builder,
            parent_id: parent_id,
            hide_class: hide_class,
            upper_category: upper_category %>
          <% prev_mid_category = upper_category %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <%= f.button :submit, "更新货架配置" %>
  </div>
<% end %>
