<%= simple_form_for(@store) do |f| %>
<div class="entity">
  <%= f.input :region_id, input_html: { disabled: true } %>
  <p>
    <%=simple_label :code %>:
    <%= @store.code %>
  </p>

  <p>
    <label>Name:</label>
    <%= @store.name %>
  </p>

  <p>
    <label>Refer Store:</label>
    <%= @store.ref_store_id %>
  </p>

  <p>
    <label>Area:</label>
    <%= @store.area %>
  </p>

  <p>
    <label>Location:</label>
    <%= @store.location %>
  </p>

  <p>
    <label>Memo:</label>
    <%= @store.memo %>
  </p>
</div>
<% end %>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
