<div class="entity">
  <p>
    <label>Region:</label>
    <%= @store.region_id %>
  </p>

  <p>
    <label>Code:</label>
    <%= @store.code %>
  </p>

  <p>
    <label>Name:</label>
    <%= @store.name %>
  </p>

  <p>
    <label>Refer Store:</label>
    <%= @store.ref_store_id %>
  </p>

  <p>
    <label>Area:</label>
    <%= @store.area %>
  </p>

  <p>
    <label>Location:</label>
    <%= @store.location %>
  </p>

  <p>
    <label>Memo:</label>
    <%= @store.memo %>
  </p>
</div>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
