<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @store.region_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @store.desc %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
