<h1>Listing peg_boards</h1>

<table>
  <thead>
    <tr>
      <th>Bay</th>
      <th>Level</th>
      <th>Name</th>
      <th>Height</th>
      <th>Depth</th>
      <th>Vert space</th>
      <th>Horz space</th>
      <th>Vert start</th>
      <th>Horz start</th>
      <th>Notch num</th>
      <th>Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @peg_boards.each do |peg_board| %>
      <tr>
        <td><%= peg_board.bay_id %></td>
        <td><%= peg_board.level %></td>
        <td><%= peg_board.name %></td>
        <td><%= peg_board.height %></td>
        <td><%= peg_board.depth %></td>
        <td><%= peg_board.vert_space %></td>
        <td><%= peg_board.horz_space %></td>
        <td><%= peg_board.vert_start %></td>
        <td><%= peg_board.horz_start %></td>
        <td><%= peg_board.notch_num %></td>
        <td><%= peg_board.color %></td>
        <td><%= link_to 'Show', peg_board %></td>
        <td><%= link_to 'Edit', edit_peg_board_path(peg_board) %></td>
        <td><%= link_to 'Destroy', peg_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peg board', new_peg_board_path %>
