<p id="notice"><%= notice %></p>

<p>
  <strong>Bay:</strong>
  <%= @peg_board.bay_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @peg_board.level %>
</p>

<p>
  <strong>Name:</strong>
  <%= @peg_board.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @peg_board.height %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @peg_board.depth %>
</p>

<p>
  <strong>Vert space:</strong>
  <%= @peg_board.vert_space %>
</p>

<p>
  <strong>Horz space:</strong>
  <%= @peg_board.horz_space %>
</p>

<p>
  <strong>Vert start:</strong>
  <%= @peg_board.vert_start %>
</p>

<p>
  <strong>Horz start:</strong>
  <%= @peg_board.horz_start %>
</p>

<p>
  <strong>Notch num:</strong>
  <%= @peg_board.notch_num %>
</p>

<p>
  <strong>Color:</strong>
  <%= @peg_board.color %>
</p>

<%= link_to 'Edit', edit_peg_board_path(@peg_board) %> |
<%= link_to 'Back', peg_boards_path %>
