<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: 'Password confirm' %>
    <%= f.input :telephone %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
