<h1>用户管理</h1>

<div id="users-list">
  <%= simple_form_for(user_new, method: "patch", remote: true,
                      data: { url: user_path(user_new) },
                      html: { id: "users-form", class: "inplace" }) do |f| %>
    <div class="inputs">
      <%= f.input :username, input_html: { size: '' } %>
      <%= f.input :email, input_html: { size: '' } %>
      <%= f.input :employee_id, input_html: { size: '' } %>
      <%= f.input :store_id, as: :select, collection: Store.all %>
      <%= f.input :telephone, input_html: { size: '' } %>
    </div>
    <%= render 'list', users: @users %>
  <% end %>
</div>

<br>

<%= link_to 'New User', new_user_path %>
