<%= simple_form_for(@freezer_chest) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden_field :from_base %>
    <%= f.input :bay_id %>
    <%= f.input :name %>
    <%= f.input :height %>
    <%= f.input :depth %>
    <%= f.input :inside_height %>
    <%= f.input :wall_thick %>
    <%= f.input :merch_height %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
