<ul>
  <% imports.each do |import_sheet| %>
    <li><%= import_sheet.filename %>
      <% coll = import_sheet.sheets.map { |e| [e[:id], e[:name]] } %>
    <%= simple_form_for(import_sheet, action: "update", remote: false) do |f| %>
      <%= f.hidden_field :step %>
      <%= f.collection_check_boxes :sel_sheets, coll, :first, :last %>
      <%= f.input :category_id, collection: categories, prompt: "品类?" %>
      <%= f.button :submit, 'choose' %>
    <% end %>
    </li>
  <% end %>
</ul>
