<% spread_sheets = import_sheet.sheets %>
<div class="tabs tabs-bottom">
<ul class="ui-hidden">
<% spread_sheets.each do |sheet| %>
  <% id = "#tab-sheet-#{sheet[:id]}" %>
  <li><a href="<%= id %>"><%= sheet[:name] %></a></li>
<% end %>
</ul>
<% spread_sheets.each do |sheet| %>
  <div id=<%= "tab-sheet-#{sheet[:id]}" %> class="preview">
    <table id=<%= "sheet-#{sheet[:id]}" %> class="grid-control no-wrap resizable spreadsheet" cellspacing=0>
      <thead class="ui-widget-header">
        <tr>
          <th>&nbsp;</th>
          <% sheet[:thead].each do |th| %>
            <th><%= th %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="ui-widget-content"><tr>
        <% if !sheet[:empty] %>
          <% i = 1 %>
            <% row = sheet[:header] %>
            <tr><td><%= i %></td>
            <%=raw row.map {|td| "<td>#{sanitize(td.to_s)}</td>" }.join %>
            <% i += 1 %>
            </tr>
          <% sheet[:cells].each do |row| %>
            <tr><td><%= i %></td>
            <%=raw row.map {|td| "<td>#{sanitize(td.to_s)}</td>" }.join %>
            <% i += 1 %>
            </tr>
          <% end %>
        <% else %>
          <% cols = sheet[:thead].size %>
          <% 1.upto(66) do |i| %>
            <tr><td><%= i %></td>
            <% cols.times do |_| %>
              <td></td>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>
