<h1>商品数据导入管理</h1>

<!--
<p>should show:<br>
<p>  import_date, comment, filename, imported: count..., #show, #discard link

<p>product: category:*, product:* + brand:*, supplier:*, manufacture:*
<p>sale: sale:*
<p>test: all fields
-->
<table id="products-table" data-form="#products-form" data-sinfoempty="请重新选择品类或重新搜索"
  class="dataTable grid-control no-wrap resizable inplace_edit" cellspacing=0>
  <thead>
    <tr>
      <th>文件名</th>
      <th>备注</th>
      <th>导入表</th>
      <th>类目个数</th>
      <th>商品个数</th>
      <th>品牌个数</th>
      <th>供应商个数</th>
      <th>生产商个数</th>
      <th data-no-sort="1">删除导入的数据</th>
    </tr>
  </thead>

  <tbody>
    <% @import_sheets.each do |import_sheet| %>
      <% count = import_sheet.imported[:count] %>
      <% sheets = import_sheet.imported[:sheets].map {|s| s[:name] } %>
      <tr>
        <td><%= link_to(import_sheet.filename, import_sheet_path(import_sheet, part: "result")) %></td>
        <td><%= import_sheet.comment %></td>
        <td><%= sheets %></td>
        <td><%= count[:category] %></td>
        <td><%= count[:product] %></td>
        <td><%= count[:brand] %></td>
        <td><%= count[:supplier] %></td>
        <td><%= count[:manufacturer] %></td>
        <td><%= link_to "删除", import_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import sheet', new_import_sheet_path(_t: @t) %>
