<%# show import results ONLY %>

<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @import_sheet.user_id %>
</p>
<p>
  <strong>Filename:</strong>
  <%= @import_sheet.filename %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @import_sheet.comment %>
</p>
<p>
  <strong>Sel_sheets:</strong>
  <%= @import_sheet.sel_sheets %>
</p>
<p>
  <strong>Category:</strong>
  <%= @import_sheet.category_id %>
</p>
<p>
  <strong>Imported:</strong>
  <%#= @import_sheet.imported %>
  <ol>
    <% @import_sheet.imported.each do |k,count| %>
      <% table = t("activerecord.models.#{k}") %>
      <% ctrler = k.to_s.pluralize %>
      <%= link_to "#{table}: #{count}", controller: ctrler, action: 'index', import_id: @import_sheet.id %>
    <% end %>
  </ol>
</p>

<hr/>

<%= link_to 'Edit', edit_import_sheet_path(@import_sheet) %> |
<%= link_to 'Back', import_sheets_path %>
