<%# show import results ONLY %>

<%#
  1. filename, comment
  2. spreadsheet preview
  3. imported count:
     sheets, rows, records,
  4. structure info:
     fields, ignore fields
  5. discard button;
%>

<p>
  <strong>Filename:</strong>
  <%= @import_sheet.filename %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @import_sheet.comment %>
</p>
<p>
  <strong>Imported:</strong>
  <%#= @import_sheet.imported.to_json %>
  <%= render "imported", import_sheet: @import_sheet %>
  <%= render 'counts', import_sheet: @import_sheet %>
</p>
<p>
  <strong>Date:</strong>
  <%= @import_sheet.created_at.localtime %>
</p>

<hr/>
<p>
  <strong>Sheets:</strong>
  <%#= @import_sheet.sheets %>
  <%= render 'preview', import_sheet: @import_sheet %>
</p>

<%= link_to 'Edit', edit_import_sheet_path(@import_sheet) %> |
<%= link_to 'Back', import_sheets_path(_t: @t) %>
