<%# show import results ONLY %>

<%#
  1. filename, comment
  2. spreadsheet preview
  3. imported count:
     sheets, rows, records,
  4. structure info:
     fields, ignore fields
  5. discard button;
%>

<p id="notice"><%= notice %></p>
<p>
  <strong>Filename:</strong>
  <%= @import_sheet.filename %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @import_sheet.comment %>
</p>
<p>
  <strong>Sheets:</strong>
  <%= @import_sheet.sheets %>
</p>
<p>
  <strong>Imported:</strong>
  <%= @import_sheet.imported.to_json %>
  <hr>
  <ol>
    <% @import_sheet.imported[:count].each do |k,count| %>
      <% table = t("activerecord.models.#{k}") %>
      <% controller = k.to_s.pluralize %>
      <%= link_to "#{table}: #{count}", controller: controller, action: 'index', import_id: @import_sheet.id %>
    <% end %>
  </ol>
</p>

<hr/>

<%= link_to 'Edit', edit_import_sheet_path(@import_sheet) %> |
<%= link_to 'Back', import_sheets_path %>
