<%# plan_name(category)+published_at, plan_note, to_deploy_at,
  deployed_at, download_link %>
<table id="plan_sets_store_deployed"
  data-sinfo="共_TOTAL_个规划"
  data-sinfoempty="无空间规划，重新搜索试试"
  class="dataTable grid-control no-wrap plan_sets editing" cellspacing=0>
  <thead>
    <tr>
      <th>规划</th>
      <th>说明</th>
      <th>计划日期</th>
      <th>部署日期</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% deploys.each do |dp| %>
      <tr>
        <td>
          <%= dp.plan_set_name %><br>
          <small><%=dt_ago dp.published_at %>发布</small>
        </td>
        <td>
          <%= dp.plan_set_note %><br>
        </td>
        <td>
          <%= dp.to_deploy_at.to_s(:short) %>
        </td>
        <td>
          <%=dt_ago dp.deployed_at.localtime %>
        </td>
        <td>
          <%= link_to "重新下载", plan_path(dp.plan_id, _do: :download_pdf), target: :_blank %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
