<%= simple_form_for(@plan_set) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden_field :user_id %>
    <%= f.input :_do, as: :hidden %>
    <p><strong>规划名称：</strong><%= @plan_set.name %> (<%= @plan_set.category_name %>)</p>
    <%= content_tag :p, @plan_set.note %>

    <%# --- add model store --- %>
    <% model_store_info = @model_stores_all.to_hash(:id, :location, :area, :ref_count, :region_name) %>
    <%= field_set_tag "样板店", id: "model-stores" do %>
      <%= f.input :model_stores, as: :check_boxes, collection: @model_stores_all,
        wrapper_html: { class: "ui-selected-mark" } %>
    <% end %>
    <div id="model-store-info" data-stores="<%= model_store_info.to_json %>">
      <p><span id="store.name"></span>: <span id="store.location"></span>, <span id="store.area"></span>m²</p>
      <p>门店数：<span id="store.ref_count"></span>, 属<span id="store.region_name"></span></p>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit, "确定" %>
  </div>
<% end %>

<ul id="test-menu"></ul>
<div id="tree1"></div>

