<div class="inputs">
  <p><strong>规划名称：</strong><%= @plan_set.name %> (<%= @plan_set.category_name %>)</p>
  <p><strong>发布时间：</strong><%=dt_ago @plan_set.published_at %></p>
  <p><strong>计划部署：</strong><%= @plan_set.to_deploy_at %></p>
  <p><strong>规划说明：</strong><%= @plan_set.note %></p>

  <%#
    plans info for model store:
    store_full_name | usage_percent | prior_done | normal_done |
  %>

  <table id="plan_sets_view"
    data-sinfo="共_TOTAL_个样板店"
    data-sinfoempty="无搜索结果，请重新搜索或修改规划设置"
    class="dataTable grid-control no-wrap plan_sets view" cellspacing=0>
    <thead>
      <tr>
        <th>门店</th>
        <th>下载</th>
        <th>部署</th>
        <th>上报</th>
        <th>样板店</th>
      </tr>
    </thead>
    <tbody>
      <% @plan_set.deployments.each do |dp| %>
        <tr>
          <td><%= dp.store.name %></td>
          <td><%= dp.download_1st_at %></td>
          <td><%= dp.deployed_at %></td>
          <td><%= dp.deployed_by %></td>
          <td><%= dp.plan_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
