<h1>空间规划</h1>

<%#
<!--
<table id="plan_sets-table" data-form="#plan_sets-form" data-sinfoempty="请重新选择品类或重新搜索"
  class="dataTable grid-control no-wrap resizable inplace_edit" cellspacing=0>

  <thead>
    <tr>
      <th>名称</th>
      <th>品类</th>
      <th>样板店</th>
      <th>门店数</th>
      <th>发布时间</th>
      <th>未发布样板</th>
      <th>未实施门店</th>
      <th>创建时间</th>
      <th data-no-sort="1"></th>
    </tr>
  </thead>
-->

  <li>select undeployed planset#list, buttons: planset#new, planset#rename, planset#remove</li>
  <li>plan_set#edit: name/notes/plans</li>
  <li>plans#index, in planset</li>
  <li>plan#new, in this planset, may modify</li>
  <li>plan#edit, summary, form;</li>

  Plan.status
    :closed   finished
    :new      new created, empty
    :open     in editing, percentage string
  PlanSet.status
    :new        new created, empty
    :open       in designing
    :published  published, pdf generated
    :closed     deployed
%>

<h3>最近规划</h3>
<%# == new plan_set, order by create_time %>
<%#= link_to '新建规划', new_plan_set_path %>
<table class="plan_sets">
  <thead style="display:none;">
    <tr>
      <th>规划</th>
      <th>Edit/Delete/Publish</th>
    </tr>
  </thead>
  <tbody>
    <% @designing_sets.each do |plan_set| %>
      <tr>
        <td>
          <dl>
            <dt><%= link_to plan_set.full_name, plan_set_path(plan_set) %>,
                <%=dt_ago plan_set.created_at.localtime %></dt>
            <dd><%= plan_set.note %></dd>
            <% if plan_set.any? %>
              <% plans = plan_set.recent_plans %>
              <dd>
                <%= link_to "样板店：#{plan_set.num_plans}", plans_path(cat: plan_set.category_id, plan_set: plan_set.id), title: "点击查看样板店规划" %>,
                总门店数：<%= plan_set.num_stores %>
              </dd>
              <dd>设计中规划：
              <% plans.each do |plan| %>
                <%= link_to plan.name, edit_plan_path(id: plan.id, _do: :layout) %>
              <% end %>
              </dd>
            <% else %>
              <dd>新规划，无门店规划！</dd>
            <% end %>
          </dl>
        </td>
        <td><%= plan_set.published_at %></td>
        <td><%= plan_set.undeployed_stores %></td>
        <td>
          <%= link_to '设置', edit_plan_set_path(plan_set) %>
          <%= link_to '删除', plan_set, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% if plan_set.plans.any? %>
            <%= link_to '发布', edit_plan_set_path(plan_set, "_do" => :publish) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>快捷链接</h3>
  <% if @recent_plans.any? %>
    <% @recent_plans.each do |plan| %>
      <p>
        <%= link_to plan.full_name, edit_plan_path(plan, _do: :layout) %>
        <small><%=dt_ago plan.updated_at %></small>
      </p>
    <% end %>
  <% else %>
    <p>暂无</p>
  <% end %>

<h3>规划部署</h3>
  <%# todo: publish, unpublish %>
  <%# name, to_deploy_at, published_at, deployed_stores, undeployed_stores %>
  <% if @deploying_sets.any? %>
  <table class="plan_sets_deploying">
    <thead> <!-- style="display:none;" -->
      <tr>
        <th>Plan</th>
        <th>to deploy</th>
        <th>Deployed</th>
        <th>Downloaded</th>
        <th>None</th>
        <th>Unpublish</th>
      </tr>
    </thead>
    <tbody>
      <% @deploying_sets.each do |dp| %>
        <%
          plan_set = dp[:plan_set]
          deployeds = dp[:deployed]
          nones = dp[:none]
          downloads = dp[:download]
          count = dp[:count]
          complete_ratio = "#{deployeds.size}/#{count}"
        %>
        <tr>
          <td>
            <dl>
              <dt>
                <%= link_to plan_set.full_name, plan_set_path(plan_set) %>,
                <small>
                  <%= complete_ratio %>  <%=dt_ago plan_set.published_at.localtime %>
                </small>
              </dt>
            </dl>
          </td>
          <td>
            <%= plan_set.to_deploy_at.to_s(:short) %>
          </td>
          <td>
            <% deployeds.each do |dp| %>
              <%= link_to dp.store_name, edit_plan_path(dp.plan_id, _do: :layout) %>
              <small>
                <%=dt_ago dp.deployed_at.localtime %>
              </small>
            <% end %>
          </td>
          <td>
            <% downloads.each do |dp| %>
              <%= link_to dp.store_name, edit_plan_path(dp.plan_id, _do: :layout) %>
              <small>
                <%=dt_ago dp.downloaded_at.localtime %>
              </small>
            <% end %>
          </td>
          <td>
            <% nones.each do |dp| %>
              <%= link_to dp.store_name, store_path(dp.store_id) %>
            <% end %>
          </td>
          <td>
            <%= link_to "取消发布", edit_plan_set_path(plan_set, _do: :publish, off: 1) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <p>暂无</p>
  <% end %>

<h3>完成规划</h3>
  <% if @deployed_sets.any? %>
    <table>
      <thead>
        <tr>
          <th>Plan</th>
          <th>Published</th>
          <th>Downloaded</th>
          <th>Deployed</th>
        </tr>
      </thead>
      <tbody>
        <% @deployed_sets.each do |dp| %>
          <% plan_set = dp[:plan_set] %>
          <tr>
            <td><%= plan_set.full_name %></td>
            <td><%=dt_ago plan_set.published_at.localtime %></td>
            <td>
              <%=humanize dp[:download_1st] %> ~ <%=humanize dp[:download_last] %>
            </td>
            <td>
              <%=humanize dp[:deployed_1st] %> ~ <%=humanize dp[:deployed_last] %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% else %>
    <p>无</p>
  <% end %>
