<p id="notice"><%= notice %></p>
<p>
  <strong>规划名称: </strong>
  <%= @plan_set.display_shortname %></p>
<p><em>由<%= @plan_set.user_id %>于<%= @plan_set.created_at.localtime %>创建</em></p>
<p>
  <strong>说明:</strong>
  <%= @plan_set.note %>
</p>
<p>
  <strong>样板店(<%= @plan_set.num_plans %>):</strong>
  <ul>
    <% @plan_set.plans.each do |plan| %>
      <li><%= link_to plan.store_name, edit_plan_path(plan) %></li>
    <% end %>
  </ul>
</p>
<p>
  <strong>门店总数:</strong>
  <%= @plan_set.num_stores %>
</p>

<hr>
<p>
  <strong>Published at:</strong>
  <%= @plan_set.published_at %>
</p>

<p>
  <strong>Unpublished plans:</strong>
  <%= @plan_set.unpublished_plans %>
</p>

<p>
  <strong>Undeployed stores:</strong>
  <%= @plan_set.undeployed_stores %>
</p>

<%= link_to 'Edit', edit_plan_set_path(@plan_set) %> |
<%= link_to 'Back', plan_sets_path %>
