<h1>Listing rear_support_bars</h1>

<table>
  <thead>
    <tr>
      <th>Bay</th>
      <th>Level</th>
      <th>Name</th>
      <th>Height</th>
      <th>Bar depth</th>
      <th>Bar thick</th>
      <th>From back</th>
      <th>Hook length</th>
      <th>Notch num</th>
      <th>Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rear_support_bars.each do |rear_support_bar| %>
      <tr>
        <td><%= rear_support_bar.bay_id %></td>
        <td><%= rear_support_bar.level %></td>
        <td><%= rear_support_bar.name %></td>
        <td><%= rear_support_bar.height %></td>
        <td><%= rear_support_bar.bar_depth %></td>
        <td><%= rear_support_bar.bar_thick %></td>
        <td><%= rear_support_bar.from_back %></td>
        <td><%= rear_support_bar.hook_length %></td>
        <td><%= rear_support_bar.notch_num %></td>
        <td><%= rear_support_bar.color %></td>
        <td><%= link_to 'Show', rear_support_bar %></td>
        <td><%= link_to 'Edit', edit_rear_support_bar_path(rear_support_bar) %></td>
        <td><%= link_to 'Destroy', rear_support_bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rear support bar', new_rear_support_bar_path %>
