<p id="notice"><%= notice %></p>

<p>
  <strong>Bay:</strong>
  <%= @rear_support_bar.bay_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @rear_support_bar.level %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rear_support_bar.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @rear_support_bar.height %>
</p>

<p>
  <strong>Bar depth:</strong>
  <%= @rear_support_bar.bar_depth %>
</p>

<p>
  <strong>Bar thick:</strong>
  <%= @rear_support_bar.bar_thick %>
</p>

<p>
  <strong>From back:</strong>
  <%= @rear_support_bar.from_back %>
</p>

<p>
  <strong>Hook length:</strong>
  <%= @rear_support_bar.hook_length %>
</p>

<p>
  <strong>Notch num:</strong>
  <%= @rear_support_bar.notch_num %>
</p>

<p>
  <strong>Color:</strong>
  <%= @rear_support_bar.color %>
</p>

<%= link_to 'Edit', edit_rear_support_bar_path(@rear_support_bar) %> |
<%= link_to 'Back', rear_support_bars_path %>
