<%= simple_form_for(@brand) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :category_id, collection: categories, prompt: "选择品类" %>
    <%= f.input :name, as: :text, wrapper_html: { class: 'brands-new-name'} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
