<tr data-id="<%= brand.id %>">
  <td><%= brand.name %></td>
  <td data-val="<%= brand.color %>">
    <%= content_tag :span, raw("&nbsp;"), class: "colorbox", style: "background-color: #{brand.color};" %>
  </td>
  <%#
  <td><%= link_to 'Edit', edit_brand_path(brand) ></td>
  %>
</tr>
