<h1>Listing brands</h1>

<div>
<table id="brands-list" class="dataTable grid-control no-wrap resizable" cellspacing=0>
  <thead>
    <tr>
      <th data-input="brands[name]">Name</th>
      <th>Category</th>
      <th data-input="brands[color]">Color</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.category_id %></td>
        <td><%= brand.color %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Brand', new_brand_path %>
