<h1>Listing brands</h1>

<div>
<table id="brands-list" data-sinfoempty="无结果，请重新选择品类或重新搜索" class="dataTable grid-control no-wrap resizable" cellspacing=0>
  <thead>
    <tr>
      <th data-input="brands[name]">Name</th>
      <th>Category</th>
      <th data-input="brands[color]">Color</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.category_id %></td>
        <td><%= brand.color %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="dataTable-filter" class="template">
  <%= simple_form_for(brand_new, remote:true) do |f| %>
    <%= f.input :category_id, collection: categories, prompt: "选择品类",
      input_html: {
        data: { url: brands_path(category: "") },
        onchange: "javascript: onDataTableCategoryChange(event,this)" } %>
    <%# = select_tag category_id, options_from_collection_for_select(categories, "name", "name") %>
  <% end %>
</div>
<p><%= brand_new.category_id %></p>

<%= link_to 'New Brand', new_brand_path %>
