<h1>Listing brands</h1>

<div id="brands-list">
  <%= simple_form_for(brand_new,
                      url: "/brands/2",
                      data: { url: brand_path(brand_new) },
                      html: { id: "brands-form", class: "inplace__", },
                      method: "patch", remote:false) do |f| %>
    <div class="inputs">
      <%= f.input :name %>
      <% def_color = t("dict.colors.default") %>
      <%= f.input :color, collection: t("dict.colors"), selected: def_color, input_html: { class: 'colorpicker' } %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <table id="brands-table" data-form="#brands-form" data-sinfoempty="无结果，请重新选择品类或重新搜索" class="dataTable grid-control no-wrap resizable" cellspacing=0>
      <thead>
        <tr>
          <th data-input="brand[name]">Name</th>
          <th>Category</th>
          <th data-select="brand[color]">Color</th>
          <th>edit</th>
        </tr>
      </thead>
      <tbody>
        <% @brands.each do |brand| %>
          <tr data-id="<%= brand.id %>">
            <td><%= brand.name %></td>
            <td><%= brand.category_id %></td>
            <td data-val="<%= brand.color %>">
              <span class="colorbox" style="background-color: <%= brand.color %>">&nbsp;</span>
            </td>
            <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="dataTable-filter" class="template">
  <%= simple_form_for(brand_new, remote:true) do |f| %>
    <%= f.input :category_id, collection: categories, prompt: "选择品类",
      input_html: {
        data: { url: brands_path(category: "") },
        onchange: "javascript: onDataTableCategoryChange(event,this)" } %>
    <%# = select_tag category_id, options_from_collection_for_select(categories, "name", "name") %>
  <% end %>
</div>

<p><%= brand_new.category_id %></p>

<%= link_to 'New Brand', new_brand_path %>
