<h1>Listing categories</h1>

<div id="categorys-list">
  <%= simple_form_for(category_new, method: "patch", remote: true,
                      data: { url: category_path(category_new) },
                      html: { id: "categorys-form", class: "inplace" }) do |f| %>
    <div class="inputs">
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :parent_id, collection: Category.all %>
      <%= f.input :memo %>
    </div>
    <%= render 'list', categorys: @categories %>
  <% end %>
</div>

<br>

<%= link_to t(".new"), new_category_path %>

