<div class="span5 bays">
  <%= simple_form_for @bay, html: { class: "span5 bay"} do |f| %>
  <%= f.error_notification %>

  <%= f.input :name  %>
  <%= field_set_tag '主尺寸' do %>
  <div id="bay_main" class="inputs">
    <div class="row vlabel">
      <%= f.input :back_height, wrapper_html: { class: 'span1' }  %>
      <%= f.input :back_width, wrapper_html: { class: 'span1' } %>
      <%= f.input :back_thick, wrapper_html: { class: 'span1' } %>
      <%= f.input :back_color, as: :color, wrapper_html: { class: 'span1' } %>
    </div>
    <div class="row hlabel">
      <%= f.input :use_notch, wrapper_html: { class: 'col_check' }, :as => :boolean, :boolean_style => :inline, :label => false %>
      <%= f.input :notch_spacing, wrapper_html: { class: 'col_pre notch_on' } %>
      <%= f.input :notch_1st, wrapper_html: { class: 'col_end notch_on' } %>
    </div>
    <div class="row vlabel">
      <%= f.input :base_height, wrapper_html: { class: 'span1' }  %>
      <%= f.input :base_width, wrapper_html: { class: 'span1' }  %>
      <%= f.input :base_depth, wrapper_html: { class: 'span1' }  %>
      <%= f.input :base_color, as: :color, wrapper_html: { class: 'span1' } %>
    </div>
    <%#= f.input :takeoff_height, disabled: true, wrapper_html: { class: 'col_end' } %>
    <%#= f.input :show_peg_holes, wrapper_html: { class: 'check_end' }, :as => :boolean, :boolean_style => :inline %>
  </div>
  <% end %>

  <div class="actions clearfix">
    <%= submit_tag "", class: 'add_element', id: 'add_open_shelf', 'data-id' => '#open_shelf',
      title: '添加隔板', onclick: "addElement(event,this,false);" %>
    <%= submit_tag "", class: 'add_element', id: 'add_peg_board', 'data-id' => '#peg_board',
      title: '添加钉板', onclick: "addElement(event,this,false);" %>
    <%= submit_tag "", class: 'add_element', id: 'add_freezer_chest', 'data-id' => '#freezer_chest',
      title: "添加腔体(冰柜)", onclick: "addElement(event,this,true);" %>
    <%= submit_tag "", class: 'add_element', id: 'add_rear_supported_bar', 'data-id' => '#rear_support_bar',
      title: "添加后支撑条", onclick: "addElement(event,this,false);" %>
    <%= f.button :submit %>
  </div>

  <div id='accordion'>
  </div>

  <div id="template">
    <% @templates.each do |id, model_name, template_obj| %>
      <%= f.simple_fields_for(model_name, template_obj, child_index: "new_#{id}_index") do |builder| %>
        <div id="<%= id %>" data-id="<%= "new_#{id}_index" %>">
          <%= render "#{id}_fields", f: builder %>
        </div>
      <% end %>
    <% end %>

    <div id="dummy">
      <% ["open_shelf", "peg_board", "freezer_chest", "rear_support_bar"].each do |elem| %>
        <%= f.simple_fields_for elem.pluralize.to_sym do |builder| %>
          <div class="elem_inputs">
            <%= render "#{elem}_fields", f: builder %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
</div>
