<h3>
  <%= f.input_field :name, size: 10, class: 'elem_name wrap'  %>
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :level, class: "elem_sort_by" %>
  <%= link_to raw("&times"), "#", title: t("dict.removeOpenShelf"), id: 'remove-element',
    class: 'remove_element cmd_ui' %>
</h3>
<div>
  <div class="row hlabel">
    <%= f.input :height, wrapper_html: { class: 'span2' }  %>
    <%= f.input :width, wrapper_html: { class: 'span2' }  %>
  </div>
  <div class="row hlabel">
    <%= f.input :depth, wrapper_html: { class: 'span2' }  %>
    <%= f.input :thick, wrapper_html: { class: 'span2' }   %>
  </div>
  <div class="row hlabel">
    <%= f.input :slope, wrapper_html: { class: 'span2' } %>
    <%= f.input :riser, wrapper_html: { class: 'span2' } %>
  </div>
  <div class="row hlabel">
    <%= f.input :notch_num, wrapper_html: { class: 'span2 notch_on' } %>
    <%= f.input :from_base, wrapper_html: { class: 'span2 notch_off' } %>
    <%= f.input :color, as: :color, wrapper_html: { class: 'span2'}, input_html: { class: 'color' }  %>
  </div>
  <div class="row hlabel">
    <%= f.input :from_back, wrapper_html: { class: 'span2' }  %>
    <%= f.input :finger_space, wrapper_html: { class: 'span2' } %>
    <%= f.input :x_position, wrapper_html: { class: 'span2' }  %>
  </div>
</div>

