<div class="elem_inputs">
  <h3><%= f.input_field :name, class: 'elem_name'  %></h3>
  <%= f.input :bay_id, as: :hidden %>
  <%= f.input :level, as: :hidden, input_html: { class: 'elem_level' } %>
  <div>
  <%= f.input :height %>
  <%= f.input :width %>
  <%= f.input :depth %>
  <%= f.input :thick %>
  <%= f.input :slope %>
  <%= f.input :riser %>
  <%= f.input :notch_num %>
  <%= f.input :from_base %>
  <%= f.input :color %>
  <%= f.input :from_back %>
  <%= f.input :finger_space %>
  <%= f.input :x_positon %>
  </div>
</div>

