<h3>
  <%= f.input_field :name, size: 10, class: 'elem_name wrap'  %>
  <%= f.input :bay_id, as: :hidden %>
  <%= f.hidden_field :_destroy %>
  <%= link_to raw("&times"), "#", class: 'remove_element' %>
</h3>
<div>
  <%= f.input :height, wrapper_html: { class: 'col_1_2' }  %>
  <%= f.input :width, wrapper_html: { class: 'col_2_2' }  %>
  <%= f.input :depth, wrapper_html: { class: 'col_1_2' }  %>
  <%= f.input :thick, wrapper_html: { class: 'col_2_2' }   %>
  <%= f.input :slope, wrapper_html: { class: 'col_1_2' } %>
  <%= f.input :riser, wrapper_html: { class: 'col_2_2' } %>
  <%= f.input :notch_num, wrapper_html: { class: 'col_1_2 notch_on' }, input_html: { class: 'elem_notch_num' }  %>
  <%= f.input :from_base, wrapper_html: { class: 'col_1_2 notch_off' }, input_html: { class: 'elem_from_base' } %>
  <%= f.input :color, wrapper_html: { class: 'col_2_2'}, input_html: { class: 'color' }  %>
  <%= f.input :from_back, wrapper_html: { class: 'col_1_2' }  %>
  <%= f.input :finger_space, wrapper_html: { class: 'col_2_2' } %>
  <%= f.input :x_position, wrapper_html: { class: 'col_1' }  %>
</div>

