
<p>
  <strong>Name:</strong>
  <%= @bay.name %>
</p>

<p>
  <strong>Back height:</strong>
  <%= @bay.back_height %>
</p>

<p>
  <strong>Back width:</strong>
  <%= @bay.back_width %>
</p>

<p>
  <strong>Back thick:</strong>
  <%= @bay.back_thick %>
</p>

<p>
  <strong>Back color:</strong>
  <%= @bay.back_color %>
</p>

<p>
  <strong>Notch spacing:</strong>
  <%= @bay.notch_spacing %>
</p>

<p>
  <strong>Notch 1st:</strong>
  <%= @bay.notch_1st %>
</p>

<p>
  <strong>Base height:</strong>
  <%= @bay.base_height %>
</p>

<p>
  <strong>Base width:</strong>
  <%= @bay.base_width %>
</p>

<p>
  <strong>Base depth:</strong>
  <%= @bay.base_depth %>
</p>

<p>
  <strong>Base color:</strong>
  <%= @bay.base_color %>
</p>

<p>
  <strong>Takeoff height:</strong>
  <%= @bay.takeoff_height %>
</p>

<p>
  <strong>Types:</strong>
  <%= @bay.types %>
</p>

<p>
  <strong>NumLayers:</strong>
  <%= @bay.num_layers %>
</p>

<p>
  <strong>Run</strong>
  <%= @bay.run %>
</p>
<p>
  <strong>Linear</strong>
  <%= @bay.linear %>
</p>
<p>
  <strong>Area</strong>
  <%= @bay.area %>
</p>
<p>
  <strong>Cube</strong>
  <%= @bay.cube %>
</p>

<%= link_to 'Edit', edit_bay_path(@bay) %> |
<%= link_to 'Back', bays_path %>
