<h1>区域管理</h1>

<div id="regions-list">
  <%= simple_form_for(region_new, method: 'patch', remote: true,
                      data: { url: region_path(region_new) },
                      html: { id: "regions-form", class: "inplace" }) do |f| %>
    <div class="inputs">
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :consume_type %>
      <%= f.input :memo %>
    </div>
    <%= render 'list', regions: @regions %>
  <% end %>

</div>

<br>

<%= link_to 'New Region', new_region_path %>
