<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :category_id %>
    <%= f.input :brand_id %>
    <%= f.input :mfr_id %>
    <%= f.input :user_id %>
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :height %>
    <%= f.input :width %>
    <%= f.input :depth %>
    <%= f.input :weight %>
    <%= f.input :price_level %>
    <%= f.input :size_name %>
    <%= f.input :case_pack_name %>
    <%= f.input :bar_code %>
    <%= f.input :color %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
