<tr data-id="<%= product.id %>">
  <td><%= product.code %></td>
  <td data-val="<%= product.brand_id %>"><%= brands_hash[product.brand_id] %></td>
  <td><%= product.name %></td>
  <td data-val="<%= product.color %>"><%= color_tag product.color %></td>
  <td><%= product.height %></td>
  <td><%= product.width %></td>
  <td><%= product.depth %></td>
  <td><%= product.weight %></td>
  <td data-val="<%= product.price_level %>"><%= t("dict.prices").invert()[product.price_level] %></td>
  <td><%= product.size_name %></td>
  <td><%= product.case_pack_name %></td>
  <td><%= product.barcode %></td>
  <td data-val="<%= product.mfr_id %>"><%= mfrs_hash[product.mfr_id] %></td>
</tr>
