<div id="side">
  <ul id="navibar">
    <li>
      <a href="#">Product Data</a>
      <ul>
        <li><%= link_to 'Brands', brands_path %></li>
        <li><%= link_to 'Manufacturers', manufacturers_path %></li>
        <li><%= link_to 'Suppliers', suppliers_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Merchandises', merchandises_path %></li>
      </ul>
    </li>
    <li><%= link_to 'Imports', import_sheets_path %></li>
    <li><%= link_to 'Merchandise Metrics', "#" %></li>
  </ul>
</div>

<div id="main">
  <div id="data-client">
    <h1>Listing products</h1>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Brand</th>
          <th>Mfr</th>
          <th>User</th>
          <th>Id</th>
          <th>Name</th>
          <th>Height</th>
          <th>Width</th>
          <th>Depth</th>
          <th>Weight</th>
          <th>Price level</th>
          <th>Size name</th>
          <th>Case pack name</th>
          <th>Bar code</th>
          <th>Color</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.category_id %></td>
            <td><%= product.brand_id %></td>
            <td><%= product.mfr_id %></td>
            <td><%= product.user_id %></td>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.height %></td>
            <td><%= product.width %></td>
            <td><%= product.depth %></td>
            <td><%= product.weight %></td>
            <td><%= product.price_level %></td>
            <td><%= product.size_name %></td>
            <td><%= product.case_pack_name %></td>
            <td><%= product.bar_code %></td>
            <td><%= product.color %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr/>
</div>

<%= link_to 'New Product', new_product_path %>
