<div id="product-tabs">
  <ul>
    <li><a href="#tab-import">Import</a></li>
    <li><a href="#tab-list">List</a></li>
    <li><a href="#tab-edit">Edit</a></li>
  </ul>
  <div id="tab-list">
    <p>Here place products on shelf</p>
    <p>Select "category", by store, datatime?</p>
  </div>
  <div id="tab-import">
    <p>Import product data here:</p>

    <p> Step 1: upload files (in xls,xlsx,csv)
    <div id="import-file">
      <%= form_for @import, url: { action: 'import' }, :html => {:multipart => true} do |f| %>
        <%= f.hidden_field :store_id %>
        <%= f.hidden_field :user_id %>
        <p>
          <%= f.file_field :upload_sheet %>
        </p>
        <p><%= f.submit "upload" %></p>
      <% end %>
    </div>

    <% if @imports %>
    <div id="choose-sheets">
      <p> Step 2: choose sheets if necessary</p>
      list filename, datetime, user w/ preview
      [ ] sheet -> category
      [ ] sheet -> category
      [ ] sheet -> category
    </div>
    <% end %>

    <div id="set-mapping">
      <p> Step 3: Set field mapping...</p>
      blah,blah
    </div>

    <p> Finish, to return to products#index? </p>

  </div>
  <div id="tab-edit">
    <p>edit product data here, include brand/manufecturer/supplier, etc.</p>
  </div>
</div>

