<% content_for_title :index %>

<div id="products-list">
  <%= simple_form_for(product_new, method: "patch", remote: true,
                      data: { url: product_path(product_new) },
                      html: { id: "products-form", class: "inplace", }) do |f| %>
    <div class="inputs">
      <%= f.input :code %>
      <%= f.input :brand_id, collection: brands_all %>
      <%= f.input :name %>
      <%= f.input :height %>
      <%= f.input :width %>
      <%= f.input :depth %>
      <%= f.input :weight %>
      <%= f.input :price_zone, collection: t("dict.prices") %>
      <%= f.input :size_name %>
      <%= f.input :case_pack_name %>
      <%= f.input :barcode %>
      <%= f.input :color, as: :color %>
      <%= f.input :supplier_id, collection: suppliers_all %>
      <%= f.input :mfr_id, collection: mfrs_all %>
    </div>
    <%= render 'list',
      products: @products,
      brands_all: brands_all,
      suppliers_all: suppliers_all,
      mfrs_all: mfrs_all,
      sinfoempty: "请重新选择品类或重新搜索" %>
    <div id="dataTable-filter">
      <div id="products-choose-category" >
        <%= f.input :category_id, collection: categories_all, prompt: "选择品类",
          label: "",
          input_html: {
            data: { url: products_path(category: "") },
            onchange: "javascript: onDataTableCategoryChange(event,this)" } %>
        <%= f.submit "Sales...",
            onclick: "javascript: onClickSales(event, this);" %>
      </div>
      <div id="setup-place"></div>
    </div>
  <% end %>
</div>

<div class="setup-container">
  <%= render 'sale_type', product_new: product_new, detail_type: true %>
</div>

<hr/>

<%= link_to 'New Product', new_product_path %>

