<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand_id %>
</p>

<p>
  <strong>Mfr:</strong>
  <%= @product.mfr_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @product.depth %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @product.price_level %>
</p>

<p>
  <strong>Size name:</strong>
  <%= @product.size_name %>
</p>

<p>
  <strong>Case pack name:</strong>
  <%= @product.case_pack_name %>
</p>

<p>
  <strong>Bar code:</strong>
  <%= @product.bar_code %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
