<%= simple_form_for(@supplier) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :category_id, as: :tree, class: "category-name",
      cmd: "select-category" %>
    <%= f.input :name, as: :text, label: "供应商名称，每行一个",
      input_html: { rows: 8, cols: 26 },
      wrapper_html: { class: 'suppliers-new-name'} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= category_menu "select-category" %>
