<tr data-id="<%= supplier.id %>">
  <td><%= supplier.name %></td>
  <td data-val="<%= supplier.color %>"><%=color_tag supplier.color %></td>
  <%#
  <td><%= link_to 'Edit', edit_supplier_path(supplier) ></td>
  %>
</tr>
