<h1>Listing suppliers</h1>

<div id="suppliers-list">
  <%= simple_form_for(supplier_new, method: "patch", remote: true,
                      url: "/suppliers/2",
                      data: { url: supplier_path(supplier_new) },
                      html: { id: "suppliers-form", class: "inplace", },
                     ) do |f| %>
    <div class="inputs">
      <%= f.input :name %>
      <%= f.input :desc %>
      <% def_color = t("dict.colors.default") %>
      <%= f.input :color, collection: t("dict.colors"), selected: def_color, input_html: { class: 'colorpicker' } %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <table id="suppliers-table" data-form="#suppliers-form" data-sinfoempty="请重新选择品类或重新搜索" class="dataTable grid-control no-wrap resizable inplace_edit" cellspacing=0>
      <thead>
        <tr>
          <th class="name" data-input="supplier[name]"><%=tf :name %></th>
          <th class="color" data-select="supplier[color]"><%=tf :color %></th>
          <th class="desc" data-input="supplier[desc]"><%=tf :desc %></th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each do |supplier| %>
          <%= render 'item', supplier: supplier %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="dataTable-filter" class="template">
  <%= simple_form_for(supplier_new, remote:true,
                      html: { id: "suppliers-choose-category" }) do |f| %>
    <%= f.input :category_id, collection: categories, prompt: "选择品类",
      label: "",
      input_html: {
        data: { url: suppliers_path(category: "") },
        onchange: "javascript: onDataTableCategoryChange(event,this)" } %>
    <%# = select_tag category_id, options_from_collection_for_select(categories, "name", "name") %>
  <% end %>
</div>

<%= link_to 'New Supplier', new_supplier_path %>
