<%= simple_form_for(@plan, remote: true) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :user_id %>
    <%= token_tag %>
    <%= hidden_field_tag "_do", "copy_to" %>

    <div id="plan-set-info">
      <%#= f.hidden_field :plan_set_id %>
      <%#= f.hidden_field :category_id %>
    </div>
    <div id=store-info>
      <%= f.input :store_name, disabled: true %>
      <%= f.input :num_stores, disabled: true %>
      <%= f.input :usage_percent, disabled: true %>
      <%= f.input :init_facing, disabled: true %>
    </div>

    <%= field_set_tag "复制内容：", id: "copy-options" do %>
      <% copy_options = [[true, '仅复制上架商品和排面数'], [false, '同时复制商品和布局']] %>
      <%= f.collection_radio_buttons :copy_product_only, copy_options, :first, :last %>
    <% end %>

    <%= field_set_tag "复制到其他样板店", id: "model-stores" do %>
      <% plans = @plan.plan_set.plans.reject { |p| p.id == @plan.id } %>

      <%= select_all_check "plan[target_plans][]"%>
      <%= label_tag "select-all", "全选" %>
      <%= f.collection_check_boxes :target_plans, plans, :id, :store_name,
        {}, { class: "select-one", onclick: "javascript: onClickSelectOne(event, this);",
          data: {"select-all" => "#SELECT_ALL"}} %>
    <% end %>
    <div id="selected-fixture-info">
      <li>Fixture info of selected sample store</li>
    </div>
    <%#= f.submit %>
<% end %>
