<h1>选择货架</h1>

<p>
  <%= @plan.plan_set.full_name %>：
  <%= @plan.store_name %>
</p>

<%= simple_form_for(@plan, html: {id: "plan-setup-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :_do, value: "setup" %>

    <% if @missing_fixture %>
      <p>现在还没有为 <em><%= @plan.category.name %></em> 品类设置货架!</p>
    <% end %>
    <%= field_set_tag "设置货架", id: "fixtures" do %>
      <li><%= link_to "新建货架", new_fixture_path %></li>
      <%= f.collection_radio_buttons :fixture_id, @fixtures_all, :first, :last %>
    <% end %>

    <% if @plan.products_changed? %>
      <% if @plan.has_product? %>
        <p>商品目录已被更新，请选择新商品(<%= @products_opt.size %>)，加入到本门店规划</p>
      <% else %>
        <p>请选择商品(<%= @products_opt.size %>)，加入到本门店规划</p>
      <% end %>
      <div class="">
        <%= select_all_check "plan[optional_products][]"%>
        <%= label_tag "select-all", "全选" %>

        <%#= f.collection_check_boxes :optional_products, @products_opt, :id, :name,
          {}, { class: "select-one ui-selected-mark", onclick: "javascript: onClickSelectOne(event, this);",
            data: {"select-all" => "#SELECT_ALL"}} %>

        <%= f.input :optional_products, as: :check_boxes, collection: @products_opt,
          label: false, wrapper_html: {
            class: "select-one ui-selected-mark",
            onclick: "javascript: onClickSelectOne(event, this);",
            data: {"select-all" => "#SELECT_ALL"},
          } %>
      </div>
      <div class="">
        <ul>
          <% @plan.prior_products.each do |p| %>
            <li><%= p.display_name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "确定" %>
  </div>
<% end %>

