<% content_for_title :edit_setup %>

<%= simple_form_for(@plan, html: {id: "plan-setup-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden_field :user_id %>
    <%= f.input :_do, as: :hidden, input_html: { value: "setup" } %>

    <%= f.input :plan_set_name, disabled: true %>
    <%= f.input :store_name, disabled: true %>
    <%= f.input :category_id, as: :tree, class: "category_name", disabled: true %>
    <%= f.input :init_facing %>
    <%= f.input :min_product_grade, collection: product_grade_options %>

    <hr/>

    <div class="input">设置货架
      <% if @missing_fixture %>
        <span class="hint">现在还没有为本规划设置货架</span>
      <% end %>
    </div>

    <li class="radio"><%= link_to "新建货架", new_fixture_path %></li>
    <%= f.input :fixture_id, as: :radio_buttons, collection: @fixtures_all,
      label: false, wrapper_html: { class: "bi_columns" }
    %>
  </div>

  <div class="actions">
    <%= f.button :submit, "确定" %>
  </div>
<% end %>

