
<p>
  <strong>Product:</strong>
  <%= @sale.product_id %>
</p>

<p>
  <strong>Store:</strong>
  <%= @sale.store_id %>
</p>

<p>
  <strong>Num stores:</strong>
  <%= @sale.num_stores %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user_id %>
</p>

<p>
  <strong>Import:</strong>
  <%= @sale.import_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale.price %>
</p>

<p>
  <strong>Facing:</strong>
  <%= @sale.facing %>
</p>

<p>
  <strong>Run:</strong>
  <%= @sale.run %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @sale.volume %>
</p>

<p>
  <strong>Volume rank:</strong>
  <%= @sale.volume_rank %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<p>
  <strong>Value rank:</strong>
  <%= @sale.value_rank %>
</p>

<p>
  <strong>Margin:</strong>
  <%= @sale.margin %>
</p>

<p>
  <strong>Margin rank:</strong>
  <%= @sale.margin_rank %>
</p>

<p>
  <strong>Psi:</strong>
  <%= @sale.psi %>
</p>

<p>
  <strong>Psi rank:</strong>
  <%= @sale.psi_rank %>
</p>

<p>
  <strong>Psi rule:</strong>
  <%= @sale.psi_rule_id %>
</p>

<p>
  <strong>Rcmd facing:</strong>
  <%= @sale.rcmd_facing %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @sale.detail %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @sale.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @sale.ended_at %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
