<tr data-id="<%= manufacturer.id %>">
  <td><%= manufacturer.name %></td>
  <td data-val="<%= manufacturer.color %>"><%=color_tag manufacturer.color %></td>
  <td><%= manufacturer.desc %></td>
  <%#
  <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) ></td>
  %>
</tr>
