<%= simple_form_for(@open_shelf) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :bay_id %>
    <%= f.input :level %>
    <%= f.input :name %>
    <%= f.input :height %>
    <%= f.input :depth %>
    <%= f.input :thick %>
    <%= f.input :slope %>
    <%= f.input :riser %>
    <%= f.input :notch_num %>
    <%= f.input :color %>
    <%= f.input :from_back %>
    <%= f.input :finger_space %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
