<h1>Listing open_shelves</h1>

<table>
  <thead>
    <tr>
      <th>Bay</th>
      <th>Level</th>
      <th>Name</th>
      <th>Height</th>
      <th>Depth</th>
      <th>Thick</th>
      <th>Slope</th>
      <th>Riser</th>
      <th>Notch num</th>
      <th>Color</th>
      <th>From back</th>
      <th>Finger space</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @open_shelves.each do |open_shelf| %>
      <tr>
        <td><%= open_shelf.bay_id %></td>
        <td><%= open_shelf.level %></td>
        <td><%= open_shelf.name %></td>
        <td><%= open_shelf.height %></td>
        <td><%= open_shelf.depth %></td>
        <td><%= open_shelf.thick %></td>
        <td><%= open_shelf.slope %></td>
        <td><%= open_shelf.riser %></td>
        <td><%= open_shelf.notch_num %></td>
        <td><%= open_shelf.color %></td>
        <td><%= open_shelf.from_back %></td>
        <td><%= open_shelf.finger_space %></td>
        <td><%= link_to 'Show', open_shelf %></td>
        <td><%= link_to 'Edit', edit_open_shelf_path(open_shelf) %></td>
        <td><%= link_to 'Destroy', open_shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open shelf', new_open_shelf_path %>
