<p id="notice"><%= notice %></p>

<p>
  <strong>Bay:</strong>
  <%= @open_shelf.bay_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @open_shelf.level %>
</p>

<p>
  <strong>Name:</strong>
  <%= @open_shelf.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @open_shelf.height %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @open_shelf.depth %>
</p>

<p>
  <strong>Thick:</strong>
  <%= @open_shelf.thick %>
</p>

<p>
  <strong>Slope:</strong>
  <%= @open_shelf.slope %>
</p>

<p>
  <strong>Riser:</strong>
  <%= @open_shelf.riser %>
</p>

<p>
  <strong>Notch num:</strong>
  <%= @open_shelf.notch_num %>
</p>

<p>
  <strong>Color:</strong>
  <%= @open_shelf.color %>
</p>

<p>
  <strong>From back:</strong>
  <%= @open_shelf.from_back %>
</p>

<p>
  <strong>Finger space:</strong>
  <%= @open_shelf.finger_space %>
</p>

<%= link_to 'Edit', edit_open_shelf_path(@open_shelf) %> |
<%= link_to 'Back', open_shelves_path %>
