<!DOCTYPE html>
<html>
<head>
  <title>Sales Space</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Sales Space" %>
  </div>
  <ul id="menubar">
    <li><a href="http://www....">Home</a></li>
    <li><%= link_to 'Fixtures', fixtures_path %></li>
    <li><%= link_to 'Bays', bays_path %> </li>
    <li>
      <!-- <%= link_to 'Products', bays_path %> -->
      <a href="#">Products</a>
      <ul>
        <li><%= link_to 'List', products_path %></li>
        <li><%= link_to 'Import', products_path %></li>
        <li><%= link_to 'Edit', products_path %></li>
      </ul>
    </li>
    <li><a href="http://www..../plan">Plans</a></li>
  </ul>
  <div id="columns">
    <%= yield %>
  </div>
  <div id="footer">
    <p>Powered by SaleSpace, Copyright &copy; BitTech Inc, 2013</p>
  </div>
</body>
</html>

